<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Посты сообществ</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>
<th:block th:replace="~{my_profile :: menu}"></th:block>

<h1>Посты сообществ</h1>

<table>
    <tr>
        <td>id</td>
        <td>post_text</td>
        <td>creation_time_stamp</td>
        <td>author_login</td>
        <td>community_id</td>
    </tr>
    <tr th:each="communityPost : ${communityPosts}">
        <td th:text="${communityPost.id}"></td>
        <td th:text="${communityPost.postText}"></td>
        <td th:text="${communityPost.creationTimeStamp}"></td>
        <td th:text="${communityPost.authorLogin}"></td>
        <td th:text="${communityPost.communityId}"></td>
    </tr>
</table>

</body>
</html>