<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Теги фотографий</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>
<th:block th:replace="~{my_profile :: menu}"></th:block>

<h1>Теги фотографий</h1>

<table>
    <tr>
        <td>id</td>
        <td>tag</td>
        <td>photo_id</td>
    </tr>
    <tr th:each="photoTag : ${photoTags}">
        <td th:text="${photoTag.id}"></td>
        <td th:text="${photoTag.tag}"></td>
        <td th:text="${photoTag.photoId}"></td>
    </tr>
</table>

</body>
</html>