<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Найти фотографии</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>
<th:block th:replace="~{my_profile :: menu}"></th:block>

<h1>Найти фотографии</h1>

<form id="find-photos">
    <span>Введите параметр поиска</span>
    <input type="radio" id="creation-time-stamp" name="searchTerm" value="creationTimeStamp">
    <label for="creation-time-stamp">по дате</label>
    <input type="radio" id="tags" name="searchTerm" value="tag">
    <label for="tags">по тегу</label>
    <input type="radio" id="comments" name="searchTerm" value="comment">
    <label for="comments">по комментарию</label>
    <br>
    <label for="word">Введите ключевые слова</label>
    <input type="search" id="word" name="keyword" required>
    <button id="submit">искать</button>
</form>

<div id="photos"></div>

<!--<form th:action="@{/find_photos}">-->
<!--    <span>Введите параметр поиска</span>-->
<!--    <th:block th:switch="${searchTerm}">-->
<!--        <th:block th:case="creationTimeStamp">-->
<!--            <input type="radio" th:id="creation-time-stamp" name="searchTerm" value="creationTimeStamp" checked>-->
<!--            <label th:for="creation-time-stamp">по дате</label>-->
<!--            <input type="radio" th:id="tags" name="searchTerm" value="tags">-->
<!--            <label th:for="tags">по тегу</label>-->
<!--            <input type="radio" th:id="comments" name="searchTerm" value="comments">-->
<!--            <label th:for="comments">по комментарию</label>-->
<!--        </th:block>-->
<!--        <th:block th:case="tags">-->
<!--            <input type="radio" th:id="creation-time-stamp" name="searchTerm" value="creationTimeStamp">-->
<!--            <label th:for="creation-time-stamp">по дате</label>-->
<!--            <input type="radio" th:id="tags" name="searchTerm" value="tags" checked>-->
<!--            <label th:for="tags2">по тегу</label>-->
<!--            <input type="radio" th:id="comments" name="searchTerm" value="comments">-->
<!--            <label th:for="comments">по комментарию</label>-->
<!--        </th:block>-->
<!--        <th:block th:case="comments">-->
<!--            <input type="radio" th:id="creation-time-stamp" name="searchTerm" value="creationTimeStamp">-->
<!--            <label th:for="creation-time-stamp">по дате</label>-->
<!--            <input type="radio" th:id="tags" name="searchTerm" value="tags">-->
<!--            <label th:for="tags">по тегу</label>-->
<!--            <input type="radio" th:id="comments" name="searchTerm" value="comments" checked>-->
<!--            <label th:for="comments">по комментарию</label>-->
<!--        </th:block>-->
<!--        <th:block th:case="*">-->
<!--            <input type="radio" id="creation-time-stamp" name="searchTerm" value="creationTimeStamp">-->
<!--            <label for="creation-time-stamp">по дате</label>-->
<!--            <input type="radio" id="tags" name="searchTerm" value="tags">-->
<!--            <label for="tags">по тегу</label>-->
<!--            <input type="radio" id="comments" name="searchTerm" value="comments">-->
<!--            <label for="comments">по комментарию</label>-->
<!--        </th:block>-->
<!--    </th:block>-->
<!--    <br>-->
<!--    <label for="word">Введите ключевые слова</label>-->
<!--    <input type="search" id="word" name="word" required th:value="${word}">-->
<!--    <button>искать</button>-->
<!--</form>-->

<!--<div th:each="photo : ${photos}">-->
<!--    <p><a th:href="@{/photo/{id}(id=${photo.id})}"><img th:src="@{/photo_entity/{id}(id=${photo.id})}"></a></p>-->
<!--</div>-->

<script th:src="@{/js/photos/find.js}"></script>

</body>

</html>