<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/users/redirect_to_sign_in.js}"></script>

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Мои друзья</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>
<th:block th:replace="~{my_profile :: menu}"></th:block>

<h1>Мои друзья</h1>

<p><a th:href="@{/find_friends}">Найти друзей</a></p>
<p><a th:href="@{/friend_requests}">Заявки в друзья</a></p>

<p>Мои друзья</p>
<div id="my-friends"></div>

<script th:src="@{/js/friends/show_mine.js}"></script>
<script th:src="@{/js/friends/delete.js}"></script>

</body>

</html>