<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Главная</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>

<th:block th:fragment="menu">

    <header class="header">

        <div class="right">
            <button id="logout-button">выйти</button>
        </div>

        <p><a th:href="@{/my_profile}">Мой профиль</a></p>
        <p><a th:href="@{/my_friends}">Мои друзья</a></p>
        <p><a th:href="@{/my_albums}">Мои альбомы</a></p>
        <p><a th:href="@{/my_communities}">Мои сообщества</a></p>
<!--        <p><a th:href="@{/my_messages}">Мои сообщения</a></p>-->

        <hr>

        <!--<th:block th:if="${thisUser.role.getAuthority} == 'ADMIN'">
    <p><a th:href="@{/admin/users}">Пользователи</a></p>
    <p><a th:href="@{/admin/albums}">Альбомы</a></p>
    <p><a th:href="@{/admin/photos}">Фото</a></p>
    <p><a th:href="@{/admin/photo_tags}">Теги фото</a></p>
    <p><a th:href="@{/admin/photo_ratings}">Оценки фото</a></p>
    <p><a th:href="@{/admin/photo_comments}">Комментарии фото</a></p>
    <p><a th:href="@{/admin/communities}">Сообщества</a></p>
    <p><a th:href="@{/admin/community_members}">Участники сообществ</a></p>
    <p><a th:href="@{/admin/community_posts}">Посты сообществ</a></p>

    <hr>

</th:block>-->

    </header>

</th:block>

<h1>Главная</h1>

</body>

</html>