<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{index :: meta}"></th:block>
    <title>Управление сообществами</title>
</head>

<body>

<th:block th:replace="~{index :: header}"></th:block>
<th:block th:replace="~{my_profile :: menu}"></th:block>

<h1>Управление сообществами</h1>

<form th:action="@{/add_community}" method="post" th:object="${community}">
    <label for="name">Название сообщества</label><br>
    <input type="text" id="name" th:field="*{name}" placeholder="Название сообщества" required>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <button>Создать сообщество</button>
</form>

<div th:each="community : ${communities}">
    <p><a th:href="@{/community/{id}(id=${community.id})}" th:text="${community.name}"></a></p>
    <form th:action="@{/delete_community}" method="post" style="display: inline">
        <input type="hidden" name="id" th:value="${community.id}">
        <button>удалить сообщество</button>
    </form>
</div>

</body>
</html>